<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'onlinelanguageschool' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1e64ed09-44a1-4bb8-b228-bababe68bd4f</InstrumentationKey>
</ApplicationInsights>